[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
cython = "*"
scikit-learn = "*"
requests = "*"
asyncio = "*"
aiohttp = "*"
pymongo = "*"
dnspython = "*"
motor = "*"
lxml = "*"
numpy = "1.26.0"
pandas = "*"
waitress = "*"
tqdm = "*"
flask = "*"
flask-cors = "*"
flask-talisman = "*"
gunicorn = "*"
rq = "*"
redis = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
scikit-surprise = "*"

[dev-packages]

[requires]
python_version = "3.11.0"
